<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<script src="../vue.js"></script>
<body>
<div id="box">
<!--    <ul>-->
<!--        <li v-for="(data,index) in datalist" :key="index">-->
<!--            {{data}}-&#45;&#45;{{index}}-->
<!--        </li>-->

<!--        <li v-for="(data,index) of datalist">-->
<!--            {{data}}-&#45;&#45;{{index}}-->
<!--        </li>-->
<!--    </ul>-->


    <input type="text"/>
    <ul>
        <li v-for="data in datalist">
            {{data}}
        </li>
    </ul>
</div>
<script>
    var vm = new Vue({
        el:"#box",
        data:{
            datalist:['aaa','bbb','ccc','ddd']
        }
    })
</script>
</body>
</html>